.frph form {
  display: flex;
  flex-direction: column; /* يضمن أن العناصر مرتبة عموديًا */
  justify-content: center;
  align-items: center;
  width: 700px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: linear-gradient(to bottom, #ffffff00, #f9f9f97e);
}

.frph h2 {
  text-align: center;
  color: #0c5345;
  margin-bottom: 20px;
}

.formph-containerff {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}


.inputppph {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #239f85;
  border-radius: 10px;
  box-sizing: border-box; /* لضمان عدم تجاوز الحدود */
}

.frph label {
  display: block;
  font-weight: bold;
  margin: 10px 0 5px;
  color: #075544;
}

.submit-buttonppph {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.submit-buttonppph button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-buttonppph button:hover {
  background-color: #45a049;
}
