.profile {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 610px;
  padding: 30px;
  border: 1px solid #ddd;
  margin-left:200px ;
  border-radius: 8px;
  background-color: #f9f9f9;
  background: linear-gradient(
      rgba(255, 255, 255, 0.274), 
      rgba(255, 255, 255, 0.274)
  );
}

.profile div {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  width: 100%;
}

.profile h2 {
  text-align: center;
  color: #0f493d;
}

.profile strong {
  color: #227a66;
}

.inputpr {
  width: 500px;
  max-width: 600px;
  padding: 3px;
  margin-bottom:5px;
  border: 0.6px solid #239f85;
  border-radius: 10px;
}

.profile span {
color: #0c221f;}
.bt{
  margin-top: 5px;
  margin-left: 200px;
  width: 130px;
  display: flex;
  border-radius: 10px;

}
