table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #239f85;
    color: white;
  }
  .h2adm{
    color: #09473a;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .kok{
    height: 79vh;
  }
  
  
  
  button:hover {
    background-color: #45a049;
  }
  
  .radio-groupadm {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0); 
  }
  
  .radio-groupadm label {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #09473a; ;
  }
  
  .radio-groupadm input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  button {
    margin-left: 15px;
    padding: 5px 10px; 
    font-size: 14px; 
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .close{
    background-color: red;
    color: #fff;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }